<h1>Pianist認証メール</h1>

<p>
こんにちは  <%= @user.name %>, 下のurlをクリックして下さい
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
