<style>
  body {
    color: #666;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  h2 {
    font-weight: normal;
    font-size: 18px;
  }
  .section > div {
    display: inline-block;
    margin: 2px;
  }
</style>

<div class="container">
  <div class="piano-container">
    <div class="section">
      <div>
        <icon class="keyboard-key `"></icon>
      </div>
      <div>
        <icon class="keyboard-key one"></icon>
      </div>
      <div>
        <icon class="keyboard-key two"></icon>
      </div>
      <div>
        <icon class="keyboard-key three"></icon>
      </div>
      <div>
        <icon class="keyboard-key four"></icon>
      </div>
      <div>
        <icon class="keyboard-key five"></icon>
      </div>
      <div>
        <icon class="keyboard-key six"></icon>
      </div>
      <div>
        <icon class="keyboard-key seven"></icon>
      </div>
      <div>
        <icon class="keyboard-key eight"></icon>
      </div>
      <div>
        <icon class="keyboard-key nine"></icon>
      </div>
      <div>
        <icon class="keyboard-key zero"></icon>
      </div>
      <div>
        <icon class="keyboard-key zero"></icon>
      </div>
      <div>
        <icon class="keyboard-key zero"></icon>
      </div>
      <div>
        <icon class="keyboard-key delete"></icon>
      </div>
    </div>
    <div class="section">
      <div>
        <icon class="keyboard-key tab"></icon>
      </div>
      <div>
        <icon class="keyboard-key q"></icon>
      </div>
      <div>
        <icon class="keyboard-key w"></icon>
      </div>
      <div>
        <icon class="keyboard-key e"></icon>
      </div>
      <div>
        <icon class="keyboard-key r"></icon>
      </div>
      <div>
        <icon class="keyboard-key t"></icon>
      </div>
      <div>
        <icon class="keyboard-key y"></icon>
      </div>
      <div>
        <icon class="keyboard-key u"></icon>
      </div>
      <div>
        <icon class="keyboard-key i"></icon>
      </div>
      <div>
        <icon class="keyboard-key o"></icon>
      </div>
      <div>
        <icon class="keyboard-key p"></icon>
      </div>
      <div>
        <icon class="keyboard-key af"></icon>
      </div>
      <div>
        <icon class="keyboard-key ag"></icon>
      </div>
      <div>
        <icon class="keyboard-key ah"></icon>
      </div>
    </div>
    <div class="section">
      <div>
        <icon class="keyboard-key caps"></icon>
      </div>
      <div>
        <icon class="keyboard-key a"></icon>
      </div>
      <div>
        <icon class="keyboard-key s"></icon>
      </div>
      <div>
        <icon class="keyboard-key d"></icon>
      </div>
      <div>
        <icon class="keyboard-key f"></icon>
      </div>
      <div>
        <icon class="keyboard-key g"></icon>
      </div>
      <div>
        <icon class="keyboard-key h"></icon>
      </div>
      <div>
        <icon class="keyboard-key j"></icon>
      </div>
      <div>
        <icon class="keyboard-key k"></icon>
      </div>
      <div>
        <icon class="keyboard-key l"></icon>
      </div>
      <div>
        <icon class="keyboard-key as"></icon>
      </div>
      <div>
        <icon class="keyboard-key ad"></icon>
      </div>
      <div>
        <icon class="keyboard-key return"></icon>
      </div>
    </div>
    <div class="section">
      <div>
        <icon class="keyboard-key shift"></icon>
      </div>
      <div>
        <icon class="keyboard-key z"></icon>
      </div>
      <div>
        <icon class="keyboard-key x"></icon>
      </div>
      <div>
        <icon class="keyboard-key c"></icon>
      </div>
      <div>
        <icon class="keyboard-key v"></icon>
      </div>
      <div>
        <icon class="keyboard-key b"></icon>
      </div>
      <div>
        <icon class="keyboard-key n"></icon>
      </div>
      <div>
        <icon class="keyboard-key m"></icon>
      </div>
      <div>
        <icon class="keyboard-key ,"></icon>
      </div>
      <div>
        <icon class="keyboard-key ."></icon>
      </div>
      <div>
        <icon class="keyboard-key /"></icon>
      </div>
      <div>
        <icon class="keyboard-key shift"></icon>
      </div>
    </div>
    <div class="section">
      <div class="mx-auto">
        <icon class="keyboard-key space mx-auto"></icon>
      </div>
    </div>
    <div class="my-5">
      <%= render 'form' %>
    </div>
  </div>
</div>
